:root{
    --clr-dark: rgb(13,17,19);
    --clr-light: #fff;
    --clr-accent:rgb(222,52,0);
    --clr-accent-dark:rgb(163,38,0);
    --clr-secondary:rgb(3, 77, 196);

    --br: .5em;
    --transform: transform 200ms cubic-bezier(0.215, 1, 0.81, 1);

}

body {
    font-family: sans-serif;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: var(--clr-dark);
    color: var(--clr-light);
}

h1,
h2,
h3,
p {
    margin:0;
}

img {
    max-width: 100%;
}

.btn {
    cursor: pointer;
    border: 0;
    background-color: var(--clr-secondary);
    border-radius: 100vw;
    color: var(--clr-light);
    padding: .5em 1.5em;
    font-weight: bold;
}

.game {
    position: relative;
    width: 12.5rem;
    cursor: pointer;
}

.streamers {
    display:flex;
    text-align: center;

    img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }
}
.rank {
    position: absolute;
    font-weight: bold;
    font-size: 1.125em;
    top: 0;
    right: 1em;
    z-index:100;
    background: rgba(0,0,0,.5);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%, 0 0);
    padding: .5em .5em .75em;
    transition: var(--transform),
}

.front {
    transition: 250ms;
    .thumbnail {
        border-radius: var(--br);
    }

    .name {
        margin: .78rem 0
    }
    .stats {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .streamers img {
        border: 2px solid var(--clr-dark);

        &:nth-of-type(1) {
            transform: translateX(50%);
            z-index: 1;
        }
        &:nth-of-type(2) {
            transform: translateX(25%);
        }
    }
}

.back {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    transform: translateY(35%);

    .streaming-info {
        columns: 2;
        column-rule: 1px solid rgba(255, 255, 255, .25);
    }

    .game-stat {
        font-size: 1.125rem;
        text-align: center;
        span {
            font-size: .75rem;
            display:block;
        }
    }
}

.background {
    background-color: #234;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:-1;
    opacity: 0;
    transform: scale(.2, .9);
    border-radius: var(--br);
}

.game:hover {

    
    .rank {
        transform: translate(150%, -47%);
    }

    .front {
        transform: translateY(-30%) scale(.8);

        .name {
            animation: gameName 300 forwards;
        }
        .stats{
            opacity: 0;
        }
    }

    .background {
        opacity: 1;
        transition: 
            var(--transform),
            opacity 100ms linear;
        transform: scale(1.4, 1.5) translateY(15%);
    }

    .back {
        opacity: 1;
        transition: transform 250ms, opacity 250ms ease-in-out;
        transform: translateY(0);

        .streamers {
            width: 100%;
            justify-content: space-between;
        }
        
        .streamer {
            font-size: .9rem;
        }

        name {
            font-weight: bold;
        }
    }
}

@keyframes gameName {

    0% {
        text-align: left;
        opacity: 1;
    }
    
    20% {
        text-align: left;
        opacity: 0;
    }

    60% {
        text-align: center;
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        text-align: center;
        opacity: 1;
        transform: scale(1.2);
    }
}